################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/IssueTrackerApi/.vs
/IssueTrackerApi/bin/Debug/net8.0
/IssueTrackerApi/obj
/EntityFramework.Data/obj
/EntityFramework.Data/bin/Debug/net8.0
/IssueTracker.Controllers/obj
/IssueTracker.Controllers/bin/Debug/net8.0
/IssueTracker.sln
/IssueTrackerRepo/bin/Debug/net8.0
/IssueTrackerRepo/obj
/IssueTracker.AutoMapper/bin/Debug/net8.0
/IssueTracker.AutoMapper/obj
/AuthGateway/obj/Debug/net8.0
/AuthGateway/obj/Release/net8.0
/AuthGateway/obj
/EntityFramework.Data/Migrations/Auth
/AuthGateway/bin/Debug/net8.0
